<a href="https://colab.research.google.com/github/pirri87/GOB_Medio_Amb/blob/main/Control_seguimiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries & Load Drive

In [1]:
# libraries
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Funciones

In [3]:
def remove_nan (rows, colum):
  cell_buffer = []
  for row in range(1, rows):
    cell = df.loc[row, colum]
    cell_buffer.append(cell)
    if str(cell) == 'nan': # No me funcionas lo metedos nan asi lo transforme a str y puse nan
      df.at[row, colum] = cell_buffer[-2] # Añado el penultimo numero que tiene dato
      cell_buffer[-1] = cell_buffer[-2] # Añado el penultimo numero que tiene dato

In [4]:
def add_APCA_format (rows, colum):
  for row in range(1, rows):
    cell = df.loc[row, colum]
    if len(cell) == 1:
      df.at[row, colum] = 'APCA-00' + cell+ '-' + str(df.loc[row, 'PROVINCIA'])
    elif len(cell) == 2:
      df.at[row, colum] = 'APCA-0' + cell+ '-' + str(df.loc[row, 'PROVINCIA'])
    elif len(cell) == 3:
      df.at[row, colum] = 'APCA-' + cell+ '-' + str(df.loc[row, 'PROVINCIA'])

#Código

## Load excel

In [5]:
# Load excel
xls = pd.ExcelFile('/content/drive/MyDrive/00_Gob_Medio_Amb/Registro_Seguimiento/REGISTRO_APCAs_COVs.xlsx')

In [6]:
end = len(xls.sheet_names)

## Manipular datos

In [7]:
df = pd.read_excel(xls,0)
rows = len(df)

In [8]:
df= df.loc[ 1 : ,['IDE','PROVINCIA']] # Cojo la columna de la numeración y de la provincia

In [9]:
rows = len(df) + 1 # Le sume uno porque no llegaba la última fila

In [10]:
rows

381

In [11]:
remove_nan(rows, 'IDE')

In [12]:
print (df.dtypes)

IDE          float64
PROVINCIA     object
dtype: object

In [13]:
df['IDE'] = df['IDE'].astype(int)

In [14]:
df['IDE'] = df['IDE'].astype(str)

In [15]:
df

     IDE PROVINCIA
1      1        LP
2      3        LP
3      4        TF
4      5        TF
5      6        LP
..   ...       ...
376  656        TF
377  659        TF
378  660        LP
379  670        TF
380  673        TF

[380 rows x 2 columns]

In [16]:
add_APCA_format(rows, 'IDE')

# Guardar el archivo final

In [17]:
path = '/content/drive/My Drive/00_Gob_Medio_Amb/Registro_Seguimiento/Formato_correcto-apca.xlsx'
with pd.ExcelWriter(path) as writer:
    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
    df.to_excel(writer, sheet_name="apcas-ok-formato", index=False)